<h2>Show User</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.uname %>
    <%= @user.inserted_at %>
    <%= @user.updated_at %>
  </li>

</ul>

<span><%= link "Edit", to: user_path(@conn, :edit, @user) %></span>
<span><%= link "Back", to: user_path(@conn, :index) %></span>
